<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
<div class="container">
<main>
 <%# <h1> Joe's <span><img id="logo" src="./images/logo.jpg"></span>NYC</h1>%>

         <div class="caption center-align">
         <img src="./images/cupcakes/whiteredhome.jpg"><!-- random image -->
          <h3></h3>
          <h5 class="light grey-text text-lighten-3">Delicious Treats on The Go</h5>
          </div>

</main>
</div>
<% include ../partials/footer.ejs %>
  </body>
</html>
