<footer>
  <div class="container">
      <br>
      <p>Developed by <a href="https://github.com/chand25">Shantel Moore</a>, <a href="https://github.com/dominic-farquharson">Dominic Farquharson</a>, and <a href="http://www.franklnchristopherbrooks.com">Franklin Brooks</a>.</p>
      <br>
      <p>Created with <span class="heart">♥</span> at <span class="name"><a href="http://www.generalassemb.ly">GA</a></span></p>
  </div>
</footer>
