<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Our Philosophy</h5>
        <p class="grey-text text-lighten-4">Joe's Cocktail Confections is a boutique bake shop servicing the greater New York City area.<br><br>We are committed to providing your event with creatively imagined gourmet confections that combine child-like whimsy with grown-up flavors.</p>
        <br>
        <h5 class="white-text">Find us on social media!</h5>
        <a class="grey-text text-lighten-4" href="https://www.facebook.com/JoesCocktailCupcakes" target="new"><img src="../images/facebook.gif" height=50 width=50> Facebook </a>
        <a class="grey-text text-lighten-4" href="http://www.instagram.com/Joescocktailcupcakes" target="new"><img src="../images/instagram.png" height=50 width=50> Instagram </a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/links/about">About Joe's Cocktail Confections</a></li>
          <li><a class="grey-text text-lighten-3" href="/links/testimonials">Customer Testimonials</a></li>
          <li><a class="grey-text text-lighten-3" href="/links/events">Upcoming Events</a></li>
          <li><a class="grey-text text-lighten-3" href="/links/alcohol">Alcohol Policy</a></li>
          <li><a class="grey-text text-lighten-3" href="/links/allergies">Food Allergies</a></li>
          <li><a class="grey-text text-lighten-3" href="/links/terms">Terms and Conditions</a></li>
          <li><a class="grey-text text-lighten-3" href="/links/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a class="grey-text text-lighten-4 right" href="/links/contact">Contact Us!</a>
    Copyright © 2017 Joe's Cocktail Confections. All rights reserved.
    </div>
  </div>
</footer>
