<header>
  <nav>
     <div class="nav-wrapper">
       <a href="/" class="navLogo brand-logo">Joe's Cocktail Confections</a>

       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/">Home</a></li>
         <li><a href="/auth/login">Login</a></li>
         <li><a href="/auth/register">Register</a></li>
       </ul>

     </div>
   </nav>
</header>
