<header>
  <nav>
     <div class="nav-wrapper">
       <a href="/" class="navLogo brand-logo">Joe's Cocktail Confections</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/">Home</a></li>
         <li><a href="/user/login">Login</a></li>
         <li><a href="/user/register">Register</a></li>
       </ul>
     </div>
   </nav>
</header>
