<header>
  <nav class="nav-extended blue">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">JCC</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/register">Register</a></li>
          <li><a href="collapsible.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </ul>
        <!-- Side Nav Bar -->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
      <!-- Bottom nav bar -->
      <div class="nav-wrapper">
           <ul class="left">
             <li class="tab"><a href="/">Home</a></li>
             <li class="tab"><a class="active" href="/products/cupcakes">Cupcakes</a></li>
             <li class="tab"><a href="/products/strawberries">Strawberries</a></li>
             <li class="tab"><a href="/products/cakes">Cakes</a></li>
           </ul>
      </div>
    </nav>
    <!-- Mobile Menu -->
    <div id="test1" class="col s12">Home</div>
    <div id="test2" class="col s12">Cupcakes</div>
    <div id="test3" class="col s12">Strawberries</div>
    <div id="test4" class="col s12">Cakes</div>

</header>
