<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <div class="container">
      <main>
        <%# <h1> Joe's <span><img id="logo" src="./images/logo.jpg"></span>NYC</h1> %>
        <h1>Whoops!</h1>
        <br>
        <p>Looks like our website wasn't made as well as our cupcakes are!</p>
        <br>
        <p>Sorry about that.</p>
        <br>
        <button type="button" class="waves-light btn-large blue" onclick="javascript:history.back()">Back</button>
        <br>
        <br>
      </main>
    </div>
    <% include partials/footer.ejs %>
    <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
