<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Codystar" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Jquery CDN -->
  <script
  src="http://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Materialize Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- jquery responsive carousel -->
  <script type="text/javascript" src="/javascripts/jquery.jcarousel.js"></script>

  <!-- Materialize Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script>
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
       $('.slider').slider();
   });

  </script>

<style>

.backgrd{
background-image: url('../images/cupcakes/whiteredhome.jpg');
height: 400px;
width: 400px;
margin: 0 auto;
}
p{
  color: white;
  font-size: 20vw;
  position: absolute;
}

.row, .reslink{
  margin: 0 auto;
}

 a{
  margin: 0 auto;
}
</style>



</head>
<body>
<header>
  <nav class="nav-extended blue">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">JCCNYC</a>
        <!-- Hamburger menu -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- User Account Button -->
          <li><a href="/auth/login"><i class="fa fa-user" aria-hidden="true"></i> My Account</a></li>
          <!-- Register Button -->
          <li><a href="/auth/register">Register</a></li>
          <!-- Add Conditionial logic for buttons -->
          <li><a href="/auth/login">Login</a></li>
          <!-- Logout Button -->
          <li><a href="/auth/logout">Logout</a></li>
          <!-- Shopping Cart -->
          <li><a href="/order"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </ul>
        <!-- Mobile Menu - Side Nav Bar -->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/auth/login"><i class="fa fa-user" style="font-weight:bold; font-size:1rem; font-family:'Roboto' sans-serif;" aria-hidden="true">Account</i></a></li>
          <li><a href="/auth/register">Register</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/order"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <!-- Bottom nav bar -->
      <div class="nav-wrapper">
           <ul class="left">
             <li class="tab"><a href="/">Home</a></li>
             <li class="tab"><a class="active" href="/products/cupcakes">Cupcakes</a></li>
             <li class="tab"><a href="/products/strawberries">Strawberries</a></li>
             <li class="tab"><a href="/products/cakes">Cakes</a></li>
           </ul>
      </div>
    </nav>


</header>


<div class="container">
<main>
 <h1> Joe's <span><img id="logo" src="../images/logo.jpg"></span>NYC</h1>

    <div class="wrapper">


            <div class="backgrd">
              <p>Username Already Taken</p>
              <a href="/auth/register">Try Again to Get Some Tasty Treats</a>
             </div>

      </div>

</main>
</div>

</body>
</html>




