<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
    <h1> Joe's <span><img src="./images/logo.jpg"></span>NYC</h1>
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="./images/cupcakes/platterccbgrd.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="./images/cupcakes/whitefrost.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="./images/cupcakes/redvelvet.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="./images/cupcakes/pinkhomecc.jpg"></a>
      <a class="carousel-item" href="#five!"><img src="./images/cupcakes/assortedcc4.jpg"></a>
      <a class="carousel-item" href="#six!"><img src="./images/strawberries/strawvodka.jpg"></a>
      <a class="carousel-item" href="#seven!"><img src="./images/cupcakes/golden1.jpg"></a>
      <a class="carousel-item" href="#eight!"><img src="./images/cupcakes/bluerainbow.jpg"></a>
    </div>
    <i class="fa fa-angle-left lg" aria-hidden="true"></i>
    <i class="fa fa-angle-right lg" aria-hidden="true"></i>
  <% include partials/footer.ejs %>
</body>
<script type="text/javascript" src="./javascripts/index.js"></script>
</html>
