<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<style>
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

</style>
<body>
  <% include partials/header.ejs %>
<div class="container">
<main>
<%# <h1> Joe's <span><img id="logo" src="./images/logo.jpg"></span>NYC</h1>%>
</main>
</div>
<!-- Materialize Slider -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="./images/cupcakes/whitefrost.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Cupcakes, meet cocktails!</h3>
          <h5 class="light grey-text text-lighten-3">Exciting new treats for grown-ups</h5>
        </div>
      </li>
      <li>
        <img src="./images/cupcakes/platterccbgrd.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Gourmet flavors. Custom baked.</h3>
          <h5 class="light grey-text text-lighten-3">We create just for you!</h5>
        </div>
      </li>
      <li>
        <img src="./images/cupcakes/redvelvet.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Classic favorites</h3>
          <h5 class="light grey-text text-lighten-3">We bake for any occasion.</h5>
        </div>
      </li>
      <li>
        <img src="./images/cupcakes/pinkhomecc.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Dessert. Delivered!</h3>
          <h5 class="light grey-text text-lighten-3">We're there right when you need us to be.</h5>
        </div>
      </li>
      <li>
        <img src="./images/cupcakes/assortedcc4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Your palate.  Your palette.</h3>
          <h5 class="light grey-text text-lighten-3">Custom confections just for you.</h5>
        </div>
      </li>
      <li>
        <img src="./images/strawberries/rasberry_flavored_strawberries.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Strawberries. Made even sweeter.</h3>
          <h5 class="light grey-text text-lighten-3">Try our confection-dipped treats.</h5>
        </div>
      </li>
      <li>
        <img src="./images/cupcakes/golden1.jpg"><!-- random image -->
        <div class="caption center-align">
          <h3>A shot of flavor</h3>
          <h5 class="light grey-text text-lighten-3">Cupcakes infused with cordials. Yum!</h5>
        </div>
      </li>
      <li>
        <img src="./images/cupcakes/bluerainbow.jpg"><!-- random image -->
        <div class="caption center-align">
          <h3>You just focus on that guest list.</h3>
          <h5 class="light grey-text text-lighten-3">We've got your confection needs covered!</h5>
        </div>
      </li>
    </ul>
  </div>

  <!-- Back button -->
  <i id="previous" class="fa fa-chevron-circle-left fa-4x" aria-hidden="true"></i>
  <!-- Forward button -->
  <i id="next" class="fa fa-chevron-circle-right fa-4x" aria-hidden="true"></i>





<!-- <i class="fa fa-angle-left lg" aria-hidden="true"></i> -->
<%# <a class="jcarousel-control-next" aria-hidden="true"></a>%>


<div class="feature">

  <a class="space" href="/products/cupcakes">
    <div class="showcase" >
      <h6>Delicious</h6>
      <h5>Cupcakes!</h5>
      <img class="grow" src="./images/cupcakes/redvelvet.jpg" alt="A delicious cupcake"
      height="200" width="200" >
      <p>Joe's famous grown-up take on the cupcake! This isn't like any
      cupcake you've tried before.  Discover the signature treat that all your guests
      will be talking about long after the party is over...</p>
    </div>
  </a>

  <a class="space" href="/products/strawberries">
    <div class="showcase" >
      <h6>Confection-dipped</h6>
      <h5>Strawberries!</h5>
      <img class="grow" src="./images/strawberries/strawberr.jpg" alt="A delicious confection-dipped strawberry"
      height="200" width="200" >
      <p>Elegant morsels that are a feast for the eyes as well. Who can feel guilty about a dessert made from fresh fruit?
      (Even when it *is* one of Joe's signature candy confection-covered
      works of art...)</p>
    </div>
  </a>

  <a class="space" href="/products/cakes">
    <div class="showcase" >
      <h6>Southern-style</h6>
      <h5>Cakes!</h5>
      <img class="grow" src="./images/cakes/cococake.jpg"  alt="A delicious cake"
      height="200" width="200" >
      <p>Our full-size cakes look as good as anything from a fancy NYC patisserie,
      but the taste is straight from grandma's recipe book back home!
      A perfect dessert offering for your most discerning guests...</p>
    </div>
  </a>

</div>
<hr>
<% include partials/footer.ejs %>





 <script type="text/javascript" src="./javascripts/index.js"></script>

 <script>
  // Next button in slideshow
  let next = document.querySelector('#next');
  // Previous button in slideshow
  let previous = document.querySelector('#previous');
  // add evenet Listeners
  next.addEventListener('click', ()=>$('.slider').slider('next') );
  previous.addEventListener('click', ()=>$('.slider').slider('prev') );
  </script>

</body>
</html>
