<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
<div class="container">
<main>
<h1> Joe's <span><img src="./images/logo.jpg"></span>NYC</h1>
</main>
</div>

<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="./images/cupcakes/platterccbgrd.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="./images/cupcakes/whitefrost.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="./images/cupcakes/redvelvet.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="./images/cupcakes/pinkhomecc.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="./images/cupcakes/assortedcc4.jpg"></a>
    <a class="carousel-item" href="#six!"><img src="./images/strawberries/strawvodka.jpg"></a>
    <a class="carousel-item" href="#seven!"><img src="./images/cupcakes/golden1.jpg"></a>
    <a class="carousel-item" href="#eight!"><img src="./images/cupcakes/bluerainbow.jpg"></a>
  </div>
<i class="fa fa-angle-left lg" aria-hidden="true"></i>
<i class="fa fa-angle-right lg" aria-hidden="true"></i>
<hr>

<div class="feature">

  <a class="space" href="/products/cupcakes">
    <div class="showcase" >
      <h6>Delicious</h6>
      <h5>Cupcakes!</h5>
      <img class="grow" src="./images/cupcakes/redvelvet.jpg" alt="A delicious cupcake"
      height="200" width="200" >
      <p>Joe's famous grown-up take on the cupcake! This isn't like any
      cupcake you've tried before.  Discover the signature treat that all your guests
      will be talking about long after the party is over...</p>
    </div>
  </a>

  <a class="space" href="/products/strawberries">
    <div class="showcase" >
      <h6>Confection-dipped</h6>
      <h5>Strawberries!</h5>
      <img class="grow" src="./images/strawberries/strawvodka.jpg" alt="A delicious confection-dipped strawberry"
      height="200" width="200" >
      <p>Elegant morsels that are a feast for the eyes as well. Who can feel guilty about a dessert made from fresh fruit?
      (Even when it *is* one of Joe's signature candy confection-covered
      works of art...)</p>
    </div>
  </a>

  <a class="space" href="/products/cakes">
    <div class="showcase" >
      <h6>Southern-style</h6>
      <h5>Cakes!</h5>
      <img class="grow" src="./images/cakes/cococake.jpg"  alt="A delicious cake"
      height="200" width="200" >
      <p>Our full-size cakes look as good as anything from a fancy NYC patisserie,
      but the taste is straight from grandma's recipe book back home!
      A perfect dessert offering for your most discerning guests...</p>
    </div>
  </a>

</div>
<hr>
<% include partials/footer.ejs %>





 <script type="text/javascript" src="./javascripts/index.js"></script>
</body>
</html>
