<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
  <main>
  <h1>About Joe's Cocktail Confections</h1>

  <div class="col s12 m7">
    <h2 class="header">Hi!  I'm Joe!</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img class="grow" src="../images/reviews/Brandyendorse.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I specialize in southern-style cupcakes infused with a dash of liqueur!
           <br>
           I also do non-alcoholic treats as well!
           <br>
           <br>
          My cupcakes and confections are classic sweets with a sophisticated grown-up twist.
          <br>
          <br>
          These memorable morsels are sure to be perfect for your next event.
          <br>
          <br>
          Let me design a party platter just for you!
          <br>
          <br>
          Questions?  Reach out to me at (347) 236-7954!
          <br>
          <br>
           </p>
           <br>
        </div>
        <div class="card-action">
          <a href="#">See some of my famous cupcakes...</a>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
</main>
</div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
