<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <main>
      <h1>About Joe's Cocktail Confections</h1>
      <h2 class="header">Hi!  I'm Joe!</h2>
      <div class="row">
        <div class="col s12 l6">
          <div class="card">
            <div class="card-image">
              <img class="grow" src="../images/reviews/Brandyendorse.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-action">
              <a href="#">See some of my famous cupcakes...</a>
            </div>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="card large">
            <div class="card-content">
              <p>
                Joes's Cocktail Cupcake Co. is a specialty bakery treats company founded by me. I started this company by entertaining
                friends with my infused treats. Recently, I renamed to Joe's Cocktail Confections NYC. Soon after receiving positive feedback,
                I decided to turn it into a business and now I have graduated to making more than just cupcakes.
                I may specialize in southern-style cupcakes infused with a dash of liqueur but I can make your favorite drink into a confectionary work of art.
             <br>
                I also do non-alcoholic treats as well!
              <br>
              <br>
                My cupcakes and confections are classic sweets with a sophisticated grown-up twist.
              <br>
              <br>
                These memorable morsels are sure to be perfect for your next event.
              <br>
              <br>
                Let me design a party platter just for you!
              <br>
              <br>
                Questions?  Reach out to me at (347) 236-7954!
              <br>
              <br>
              </p>
           <br>
          </div>
         </div>
        </div>
      </div>
    </main>
  </div>

  <% include ../partials/footer.ejs %>

  </body>
</html>
