<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
  <main>
  <h1>About Joe's Cocktail Confections</h1>
  <p class="flow-text">
   I specialize in southern Style cupcakes infused with alcohol! I also do non-alcoholic treats as well!
</p>
</main>
</div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
