<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
  <main>
  <h4>Alcohol Policy</h4>
  <br>
  <p class="flow-text">Joe's Cocktail Confections offers its customers a variety of menu items. Some menu items contain small amounts of alcoholic beverages, which are added as flavorings during the cooking process.<br>
  Although the amount of alcohol contained in a menu item is negligible, Joe's Cocktail Confections is commited to the lawful and responsible purchase of their products.
  <br>
  Orders of alcohol-flavored confections may only be made by adults over the age of 21.  Proof of age shall be required upon delivery of said items.
  <br>
  </p>
  <p class="flow-text">Per the New York State Liquor Authority Website (<a href="http://www.sla.ny.gov/">http://www.sla.ny.gov/</a>):
<br>
<blockquote>
The following documents can be accepted as proof of age for the purchase
of alcoholic beverages: (a) A valid driver's license or non-driver
identification card issued by: New York State; the Federal Government;
any State Government within the United States; the District of Columbia;
any Commonwealth, Possession or Territory of the United States; or a
Provincial Government of Canada; (b) a valid U.S. passport; (c) a valid
passport of any other country; or (d) a valid military ID from the
U.S.
</blockquote>
<p class="flow-text">No deliveries of these products can be made without such ID, and no refunds can be given for for products that cannot be delivered due to non-compliance with this policy.</p>

Joe's Cocktail Confections is also committed to the lawful consumption of their offerings.  For events held in venues other than private homes (such as restaurants or halls), New York State Liquor Authority regulations state: </p>

<blockquote>
BYOB, or “Bring Your Own Bottle,” where owners of establishments allow
their customers to bring alcoholic beverages to their premises to be
consumed on site, is NOT PERMITTED in unlicensed businesses in New York State.
Venues without a license or permit may not allow patrons to “bring their own”
alcoholic beverages for consumption.
</blockquote>

<p class="flow-text">Please check with the owner of your event's venue to ensure compliance</p>
<br>
<br>
</p>
</main>
</div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
