<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
  <main>
  <h3>Food Allergies</h3>
  <p class="flow-text">The Food Allergen Labeling and Consumer Protection Act
 of 2004 identifies eight foods or food groups as the major food allergens.
 They are milk, eggs, fish (e.g., bass, flounder, cod), Crustacean shellfish
 (e.g., crab, lobster, shrimp), tree nuts (e.g., almonds, walnuts, pecans),
 peanuts, wheat, and soybeans.
 <br>
  <br>
 Joe's Cocktail Confections menu items may contain some of these foods.
 This site attempts to identify some food allergens which may be found in
 higher concentrations in specific confections.
 <br>
  <br>
 In addition to food allergies, persons with dietary gluten, sugar, sodium, or other
  concerns should contact us with specific questions.
  </p>


  </main>
  </div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
