<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <h1>Contact Us</h1>
  <h3>Joe's Cocktaill Confections</h3>
  <h3>(347) 236-7954</h3>
  <br>
  <p>Developed by <a href="https://github.com/chand25">Shantel Moore</a>, <a href="https://github.com/dominic-farquharson">Dominic Farquharson</a>, and <a href="https://github.com/franklinbrooks">Franklin Brooks</a>.
  Created with <span class="heart">♥</span> at <span><a href="http://www.generalassemb.ly">GA</a></span></p>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
