<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
  <main>
  <h1>Privacy Policy</h1>
  <p class="flow-text">

</p>
</main>
</div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
