<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
  <main>
  <h1>Joe's Cocktail Confections Customer Testimonials</h1>
  <p class="flow-text">
   Your 'Joe's Cocktail Confections Customer Testimonial' here!
   <br>
   Contact Joe to leave your feedback.
</p>
</main>
</div>
  <% include ../partials/footer.ejs %>
  <script type="text/javascript" src="./javascripts/index.js"></script>
  </body>
</html>
