<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
        <h1> User Page </h1>
    <main>
      <div class="container">
        <div class="wrapper">
        <h1>This is <%= user.username %>'s profile</h1>

        <button><a href="<%= '/user/' + user.id + '/edit' %>">Edit User Profile</a></button>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
