<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <main>
        <h1> <%= title %> </h1>
        <h2 id="float2">Welcome, <%= user.username %>!</h2>
        <a href="<%= '/user/' + user.id + '/edit' %>"><button id="float" type="button" class="waves-light btn-large blue">Edit User Profile</button></a>
        <hr>
      </main>
    </div>
    <!-- Responsive Materialize cards - categories under username -->
    <div class="row">
          <div class="col s12 m12 l4">
             <div class="card large">
               <div class="card-image">
                 <img class="grow" src="../images/cupcakes/redvelvet.jpg">
                 <span class="card-title">Delicious <br /> Cupcakes!</span>
               </div>
               <div class="card-content">
                 <p>Joe's famous grown-up take on the cupcake! This isn't like any
                 cupcake you've tried before.  Discover the signature treat that all your guests
                 will be talking about long after the party is over...</p>
               </div>
               <div class="card-action">
                 <a class="waves-light btn-large blue" href="/products/cupcakes">Shop Cupcakes</a>
               </div>
             </div>
           </div>
           <div class="col s12 m12 l4">


             <div class="card large">
               <div class="card-image">
                 <img class="grow" src="../images/strawberries/strawberr.jpg">
                 <span class="card-title">Confection-dipped <br /> Strawberries!</span>
               </div>
               <div class="card-content">
                 <p>Elegant morsels that are a feast for the eyes as well. Who can feel guilty about a dessert made from fresh fruit?
                 (Even when it *is* one of Joe's signature candy confection-covered
                 works of art...)</p>
               </div>
               <div class="card-action">
                 <a class="waves-light btn-large blue" href="/products/strawberries">Shop Strawberries</a>
               </div>
             </div>
           </div>
        <div class="col s12 m12 l4">

             <div class="card large">
               <div class="card-image">
                 <img class="grow" src="../images/cakes/cococake.jpg">
                 <span class="card-title">Southern-style <br /> Cakes!</span>
               </div>
               <div class="card-content">
                 <p>Our full-size cakes look as good as anything from a fancy NYC patisserie,
                 but the taste is straight from grandma's recipe book back home!
                 A perfect dessert offering for your most discerning guests...</p>
               </div>
               <div class="card-action">
                 <a class="waves-light btn-large blue" href="/products/cakes">Shop Cakes</a>
               </div>
             </div>
           </div>
      </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
