<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
        <h1> <%= title %> </h1>
    <main>
      <div class="container">
        <div class="wrapper">
        <h1>Welcome, <%= user.username %> </h1>

        <a href="<%= '/user/' + user.id + '/edit' %>"><button>Edit User Profile</button></a>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
