<% include ../partials/head.ejs %>

  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="wrapper">
          <h1><i>Your Cart</i></h1>
 <% items.forEach(function(item) {%>
          <div>
            <img src="<%=cupcake.image%>">
            <h4><%= item.productId %></h4>
            <p><%= item.quantity %></p>
            <p><%= item.deliveryDate %></p>
           </div>
          </div>
        <% }) %>
        </div>
      </div>
    </main>
    <script src="/javascripts/getOrders.js"></script>

    <% include ../partials/footer.ejs %>

  </body>
</html>
