 .carousel .carousel-slider {
 height: 550px;
}
 /*.carousel-item img {*/
      /*width: 300px !important; */
      /*height: 275px !important;
    }*/

li:active{
  background-color: teal;
}

h1 span img{
    height: 25vw;
    width: 35vw;
   }

h1 {
  font-family: 'Codystar', cursive;
  color: blue;
  font-size: 7vw;
  animation: flash 2s infinite;
}

@keyframes flash{
    0%{color: rgba(0,204,207,1);}
   25%{color: rgba(97,41,218, 0.8);}
   50%{color: rgba(0,204,207,1); }
   75%{color: rgba(97,41,218,0.9); }
  100%{color: rgba(0,204,207, 1); }
}

.brand-logo{
  font-family: 'Codystar', cursive;
  color: white;
  animation: blink 2s infinite;
}

@keyframes blink{
    0%{color: rgba(255,255,255, 0.8);}
  25%{color: rgba(248,248,248,1); }
  50%{color: rgba(240,240,80,0.9); }
  75%{color: rgba(224,224,224,0.9); }
  100%{color: rgba(232,232,232, 0.8); }
}

// Item View Page
#itemView {
  img {
    width:40%
  }
  // Headings
  span {
    font-weight: bold;
  }
}
// Select Element -- Item View Page
#selectQuantity {
  display:block;
  width:25%;
  color:black;
  font-size:1.2em;
}

.desc {
  float: right;
  background-color: #2196f3;
  height: 100%;
  width: 50%;
  font-size: 2rem;
  padding: 2%;
  font-style: italic;
}
.desc h4 {
  text-align: left;
  font-style: italic;
  font-weight: bold;
}

.grow {
  transition: all .4s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
#logo {
  height: 20%;
}

.shadow {
    text-shadow: 0 0 10px DimGray;
}

/* text shadow on category pages */
.categorycctitle{
  text-shadow: 4px 4px 10px DimGray;
}
/* Font Awesome Forward and Back buttons on slideshow */
.fa-chevron-circle-right:before {
  position:absolute;
  z-index:2;
  top:40%;
  right:0px;
}

.fa-chevron-circle-left:before {
  position:absolute;
  z-index:2;
  top:40%;
  left:0px;
}
