<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="wrapper">
          <h1> <%= title %> </h1>
          <h1>Cupcakes page</h1>
          <!-- Testing -->
          <div>
            <!-- test will need to be changed to id -->
            <a href="/products/test">Firt Cupcake</a>
          </div>

        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
